html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: cornflowerblue;
}
.displayNone{
	display: none
}
.visited{
	border-radius: 10px;
	background-color: white;
	color: cornflowerblue;
	padding: 10px
}
#username{
	text-decoration: none
}
*{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: white;
    text-align: center !important
}
tr{
	border: 2px solid cornflowerblue;
}
th {
	border: 2px solid cornflowerblue;
	background-color: white 
}
table {
  height: auto;
  border-radius: 20px !important;
  width: 100% ;
  background-color: white;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  margin-bottom: 70px !important
}
.first{
	border-right: 2px solid cornflowerblue
}
@media screen and (min-width: 1200px){
	body{
		width: 1200px;
		margin-left: auto;
		margin-right: auto
	}
	table{
		max-width: 1200px
	}
	td {
		font-size: 300%
	}
}		
@media screen and (max-height: 700px) {
	html, body{
		display: block;
		height: auto !important;
	}
	h1{
		margin-top: 70px;
	}
	.logo{
		position: static !important;
	}
}	
@media screen and (min-width: 600px) and (max-width: 1200px){
	body{
		width: 100%
	}
	table{
		width: 95%
	}
	td {
		font-size:200%
	}
}
@media screen and (max-width: 600px){
	body{
		width: 100%
	}
	table{
		max-width: 95%
	}
	td {
		font-size:100%
	}
}
header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	display: flex;
	background-color: cornflowerblue;
	z-index: 500;
	justify-content: end;
}
.logo{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center
}
img{
	bottom: 10px;
	width: 180px;
}
@media screen and (max-width: 600px){
	img{
		width: 130px
	}
}
.infomachine{
	color: white
}
td{
	width: 50%;
}
